## Initialize Fiddler Client

In [1]:
import fiddler as fdl

client = fdl.FiddlerApi()

## Load baseline

In [2]:
import pandas as pd
baseline_df = pd.read_csv('/app/fiddler_samples/samples/datasets/p2p_loans/p2p_loans.csv')
baseline_schema = fdl.DatasetInfo.from_dataframe(baseline_df, max_inferred_cardinality=1000)

## Inspect Generated Schema

In [3]:
baseline_schema

DatasetInfo:
  display_name:
  files: []
  columns:
                                column     dtype count(possible_values)  \
    0                               id   INTEGER
    1                        loan_amnt     FLOAT
    2                         int_rate     FLOAT
    3                        sub_grade  CATEGORY                     31
    4                       emp_length  CATEGORY                     11
    5                   home_ownership  CATEGORY                      3
    6                       annual_inc     FLOAT
    7                          issue_d  CATEGORY                      1
    8                      loan_status  CATEGORY                      2
    9                          purpose  CATEGORY                     12
    10                      addr_state  CATEGORY                     46
    11                             dti     FLOAT
    12                     delinq_2yrs     FLOAT
    13                  fico_range_low     FLOAT
    14                 fico_range_high     FLOAT
    15                  inq_last_6mths     FLOAT
    16          mths_since_last_delinq     FLOAT
    17          mths_since_last_record     FLOAT
    18                        open_acc     FLOAT
    19                         pub_rec     FLOAT
    20                       revol_bal     FLOAT
    21                      revol_util     FLOAT
    22                       total_acc     FLOAT
    23                     total_pymnt     FLOAT
    24                 total_rec_prncp     FLOAT
    25                   total_rec_int     FLOAT
    26              total_rec_late_fee     FLOAT
    27      collections_12_mths_ex_med     FLOAT
    28     mths_since_last_major_derog     FLOAT
    29                  acc_now_delinq     FLOAT
    ..                             ...       ...                    ...
    38                     delinq_amnt     FLOAT
    39            mo_sin_old_rev_tl_op     FLOAT
    40           mo_sin_rcnt_rev_tl_op     FLOAT
    41                  mo_sin_rcnt_tl     FLOAT
    42                        mort_acc     FLOAT
    43            mths_since_recent_bc     FLOAT
    44           mths_since_recent_inq     FLOAT
    45  mths_since_recent_revol_delinq     FLOAT
    46           num_accts_ever_120_pd     FLOAT
    47                  num_actv_bc_tl     FLOAT
    48                 num_actv_rev_tl     FLOAT
    49                     num_bc_sats     FLOAT
    50                       num_bc_tl     FLOAT
    51                       num_il_tl     FLOAT
    52                   num_op_rev_tl     FLOAT
    53                   num_rev_accts     FLOAT
    54             num_rev_tl_bal_gt_0     FLOAT
    55                        num_sats     FLOAT
    56                num_tl_120dpd_2m     FLOAT
    57                    num_tl_30dpd     FLOAT
    58              num_tl_90g_dpd_24m     FLOAT
    59              num_tl_op_past_12m     FLOAT
    60                  pct_tl_nvr_dlq     FLOAT
    61            pub_rec_bankruptcies     FLOAT
    62                       tax_liens     FLOAT
    63                 tot_hi_cred_lim     FLOAT
    64               total_bal_ex_mort     FLOAT
    65                  total_bc_limit     FLOAT
    66      total_il_high_credit_limit     FLOAT
    67                 zip_code_prefix   INTEGER

       is_nullable                value_range
    0        False      455,400 - 37,850,000
    1        False      1,000.0 - 35,000.0
    2        False          6.0 - 25.83
    3        False
    4         True
    5        False
    6        False      7,000.0 - 1,100,000.0
    7        False
    8        False
    9        False
    10       False
    11       False          0.0 - 39.95
    12       False          0.0 - 13.0
    13       False        660.0 - 845.0
    14       False        664.0 - 850.0
    15       False          0.0 - 6.0
    16        True          0.0 - 133.0
    17        True          4.0 - 120.0
    18       False          2.0 - 45.0
    19       False          0.0 - 18.0
    20       False          0.0 - 485,300.0
    21        True          0.0 - 110.3
    22       False          4.0 - 93.0
    23       False        413.8 - 45,850.0
    24       False        128.6 - 35,000.0
    25       False         1.67 - 10,850.0
    26       False          0.0 - 110.8
    27       False          0.0 - 2.0
    28        True          0.0 - 133.0
    29       False          0.0 - 2.0
    ..         ...                        ...
    38       False          0.0 - 22,760.0
    39       False          7.0 - 623.0
    40       False          0.0 - 197.0
    41       False          0.0 - 105.0
    42       False          0.0 - 14.0
    43        True          0.0 - 404.0
    44        True          0.0 - 24.0
    45        True          0.0 - 133.0
    46       False          0.0 - 13.0
    47       False          0.0 - 18.0
    48       False          0.0 - 22.0
    49       False          0.0 - 23.0
    50       False          0.0 - 37.0
    51       False          0.0 - 64.0
    52       False          0.0 - 34.0
    53       False          2.0 - 56.0
    54       False          0.0 - 22.0
    55       False          2.0 - 45.0
    56        True          0.0 - 1.0
    57       False          0.0 - 2.0
    58       False          0.0 - 9.0
    59       False          0.0 - 14.0
    60       False         40.0 - 100.0
    61       False          0.0 - 7.0
    62       False          0.0 - 17.0
    63       False      3,100.0 - 5,023,000.0
    64       False          0.0 - 530,900.0
    65       False          0.0 - 223,500.0
    66       False          0.0 - 649,000.0
    67       False           10 - 998

    [68 rows x 5 columns]

## Setup monitoring

In [5]:

project_id = 'tutorial'
name = 'loan_status'
target='loan_status'
features = ['loan_amnt', 'int_rate', 'annual_inc', 'dti', 'fico_range_low', 'total_acc', 'acc_open_past_24mths']

## setup/cleanup project
if project_id in client.list_projects():
    client.delete_model(project_id, name)
    client.delete_dataset(name)
else:
    client.create_project(project_id)


client.setup_monitoring(
    project_id,
    name,
    baseline_df,
    baseline_schema,
    target,
    features
)

'Monitoring successfully setup on Fiddler. \n Visit http://localhost:4100/projects/tutorial to monitor'

## Start sending monitoring events

In [6]:
import time

chunk = 1  #chunk row size
list_df = [baseline_df[i:i+chunk] for i in range(0, baseline_df.shape[0], chunk)]
for row in list_df:
    result = client.run_model(project_id, name, row, log_events=True)
    # print(result)
    time.sleep(10)

KeyboardInterrupt:

## Clean up this sample

In [ ]:
# client.delete_model(project_id, name)
# client.delete_dataset(name)