## Initialize Fiddler Client

In [1]:
import fiddler as fdl
import logging

# True for logging debug message 
verbose = True

if verbose:
    logging.basicConfig(level=logging.DEBUG)

client = fdl.FiddlerApi(verbose=verbose)

INFO:root:url =http://host.docker.internal:4100
INFO:root:running api call as POST request
to http://host.docker.internal:4100/v1/project/get/onebox
with headers {'Authorization': 'Bearer Sxcg0eCz8aJKUXnrAMOB6EQ8FUuS-hgZvqlQXg-0R6c'}
with payload None
DEBUG:root:Request:
  url: http://host.docker.internal:4100/v1/project/get/onebox
  method: POST
  headers: {'Authorization': 'Bearer Sxcg0eCz8aJKUXnrAMOB6EQ8FUuS-hgZvqlQXg-0R6c', 'x-fdlr-fwd': 'data_service', 'User-Agent': 'python-requests/2.22.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Content-Length': '2'}
DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): host.docker.internal:4100
DEBUG:urllib3.connectionpool:http://host.docker.internal:4100 "POST /v1/project/get/onebox HTTP/1.1" 400 95
INFO:root:response: {"errors": {"": "None is not of type 'object'"}, "message": "Input payload validation failed"}

DEBUG:root:API call failed.
Error message: Input payload validation failed
Endpoint: http://host.docker.internal:4100/v1/project/get/onebox
Request:
  url: http://host.docker.internal:4100/v1/project/get/onebox
  method: POST
  headers: {'Authorization': 'Bearer Sxcg0eCz8aJKUXnrAMOB6EQ8FUuS-hgZvqlQXg-0R6c', 'x-fdlr-fwd': 'data_service', 'User-Agent': 'python-requests/2.22.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Content-Length': '2'}
INFO:root:running api call as GET request
to http://host.docker.internal:4100/list_projects/onebox
with headers {'Authorization': 'Bearer Sxcg0eCz8aJKUXnrAMOB6EQ8FUuS-hgZvqlQXg-0R6c'}
with payload None
DEBUG:root:Request:
  url: http://host.docker.internal:4100/list_projects/onebox
  method: GET
  headers: {'Authorization': 'Bearer Sxcg0eCz8aJKUXnrAMOB6EQ8FUuS-hgZvqlQXg-0R6c', 'x-fdlr-fwd': 'data_service', 'User-Agent': 'python-requests/2.22.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}
DEBUG:urllib3.connectionpool:http://host.docker.internal:4100 "GET /list_projects/onebox HTTP/1.1" 200 126059
INFO:root:response: {
  "status": "SUCCESS",
  "result": {
    "id": "onebox",
    "projects": [
      {
        "id": "bank_churn",
        "name": "bank_churn",
        "models": [
          {
            "name": "Bank Customer Churn Prediction",
            "input-type": "structured",
            "model-task": "binary_classification",
            "inputs": [
              {
                "column-name": "CreditScore",
                "data-type": "int"
              },
              {
                "column-name": "Geography",
                "data-type": "category",
                "possible-values": [
                  "France",
                  "Germany",
                  "Spain"
                ]
              },
              {
                "column-name": "Gender",
                "data-type": "category",
                "possible-values": [
                  "Female",
                  "Male"
                ]
              },
              {
                "column-name": "Age",
                "data-type": "int"
              },
              {
                "column-name": "Tenure",
                "data-type": "int"
              },
              {
                "column-name": "Balance",
                "data-type": "float"
              },
              {
                "column-name": "NumOfProducts",
                "data-type": "int"
              },
              {
                "column-name": "HasCrCard",
                "data-type": "category",
                "possible-values": [
                  "Yes",
                  "No"
                ]
              },
              {
                "column-name": "IsActiveMember",
                "data-type": "category",
                "possible-values": [
                  "Yes",
                  "No"
                ]
              },
              {
                "column-name": "EstimatedSalary",
                "data-type": "float"
              }
            ],
            "outputs": [
              {
                "column-name": "probability_churned",
                "data-type": "float"
              }
            ],
            "datasets": [
              "bank_churn"
            ],
            "targets": [
              {
                "column-name": "Churned",
                "data-type": "category",
                "possible-values": [
                  "Churned",
                  "Not Churned"
                ]
              }
            ],
            "description": "Predict whether a customer will stay or churn",
            "class-labels": [
              1,
              0
            ],
            "algorithm": "Random Forest",
            "id": "bank_churn"
          }
        ]
      },
      {
        "id": "heart_disease",
        "name": "heart_disease",
        "models": [
          {
            "name": " model",
            "input-type": "structured",
            "model-task": "binary_classification",
            "inputs": [
              {
                "column-name": "age",
                "data-type": "int"
              },
              {
                "column-name": "sex",
                "data-type": "int"
              },
              {
                "column-name": "trestbps",
                "data-type": "int"
              },
              {
                "column-name": "chol",
                "data-type": "int"
              },
              {
                "column-name": "fbs",
                "data-type": "int"
              },
              {
                "column-name": "thalach",
                "data-type": "int"
              },
              {
                "column-name": "exang",
                "data-type": "int"
              },
              {
                "column-name": "oldpeak",
                "data-type": "float"
              },
              {
                "column-name": "slope",
                "data-type": "int"
              }
            ],
            "outputs": [
              {
                "column-name": "predicted_target",
                "data-type": "float"
              }
            ],
            "datasets": [
              "heart_disease"
            ],
            "targets": [
              {
                "column-name": "target",
                "data-type": "int"
              }
            ],
            "id": "heart_disease"
          }
        ]
      },
      {
        "id": "imdb_rnn",
        "name": "imdb_rnn",
        "models": [
          {
            "name": "BiLSTM SavedModel",
            "input-type": "text",
            "model-task": "binary_classification",
            "inputs": [
              {
                "column-name": "sentence",
                "data-type": "str"
              }
            ],
            "outputs": [
              {
                "column-name": "sentiment",
                "data-type": "float"
              }
            ],
            "datasets": [
              "imdb_rnn"
            ],
            "targets": [
              {
                "column-name": "polarity",
                "data-type": "bool"
              }
            ],
            "description": "This is a bidirectional LSTM model saved as a TF SavedModel.",
            "framework": "tensorflow",
            "class-labels": [
              "negative",
              "positive"
            ],
            "version": 1,
            "algorithm": "BiLSTM",
            "id": "imdb_rnn"
          },
          {
            "name": "BiLSTM SavedModel",
            "input-type": "text",
            "model-task": "binary_classification",
            "inputs": [
              {
                "column-name": "sentence",
                "data-type": "str"
              }
            ],
            "outputs": [
              {
                "column-name": "sentiment",
                "data-type": "float"
              }
            ],
            "datasets": [
              "imdb_rnn"
            ],
            "targets": [
              {
                "column-name": "polarity",
                "data-type": "bool"
              }
            ],
            "description": "This is a bidirectional LSTM model saved as a TF SavedModel.",
            "framework": "tensorflow",
            "class-labels": [
              "negative",
              "positive"
            ],
            "version": 1,
            "algorithm": "BiLSTM",
            "id": "imdb_rnn_test"
          }
        ]
      },
      {
        "id": "iris_classification",
        "name": "iris_classification",
        "models": [
          {
            "name": "Iris Species Classification",
            "input-type": "structured",
            "model-task": "multiclass_classification",
            "inputs": [
              {
                "column-name": "sepal length (cm)",
                "data-type": "float"
              },
              {
                "column-name": "sepal width (cm)",
                "data-type": "float"
              },
              {
                "column-name": "petal length (cm)",
                "data-type": "float"
              },
              {
                "column-name": "petal width (cm)",
                "data-type": "float"
              }
            ],
            "outputs": [
              {
                "column-name": "setosa_likelihood",
                "data-type": "float"
              },
              {
                "column-name": "versicolor_likelihood",
                "data-type": "float"
              },
              {
                "column-name": "virginica_likelihood",
                "data-type": "float"
              }
            ],
            "datasets": [
              "iris"
            ],
            "targets": [
              {
                "column-name": "species",
                "data-type": "category",
                "possible-values": [
                  0,
                  1,
                  2
                ]
              }
            ],
            "description": "This model predicts which species an iris is based upon its physical properties",
            "framework": "scikit-learn 0.20.2",
            "version": 1.23,
            "training_id": "UTC-2019-02-06",
            "algorithm": "L2-Regularized Multinomial Logistic Regression",
            "hyperparameters": {
              "standardization": "false"
            },
            "annotations": [
              "Annotation 1",
              "Annotation 2",
              "Annotation 3"
            ],
            "id": "iris"
          }
        ]
      },
      {
        "id": "lending",
        "name": "lending",
        "models": [
          {
            "name": "All-variable Logistic Regression Loan Status Predictor",
            "input-type": "structured",
            "model-task": "binary_classification",
            "inputs": [
              {
                "column-name": "loan_amnt",
                "data-type": "float"
              },
              {
                "column-name": "int_rate",
                "data-type": "float"
              },
              {
                "column-name": "sub_grade",
                "data-type": "category",
                "possible-values": [
                  "A3",
                  "F4",
                  "B5",
                  "B2",
                  "D5",
                  "B4",
                  "E2",
                  "G3",
                  "A2",
                  "G1",
                  "D3",
                  "B3",
                  "B1",
                  "D4",
                  "D1",
                  "A1",
                  "A5",
                  "A4",
                  "F3",
                  "E4",
                  "G5",
                  "F2",
                  "C5",
                  "C2",
                  "E5",
                  "C1",
                  "E1",
                  "C3",
                  "F1",
                  "F5",
                  "D2",
                  "C4",
                  "G4",
                  "E3",
                  "G2"
                ]
              },
              {
                "column-name": "emp_length",
                "data-type": "category",
                "possible-values": [
                  "< 1 year",
                  "1 year",
                  "2 years",
                  "9 years",
                  "10+ years",
                  "4 years",
                  "7 years",
                  "5 years",
                  "6 years",
                  "3 years",
                  "8 years"
                ]
              },
              {
                "column-name": "home_ownership",
                "data-type": "category",
                "possible-values": [
                  "OTHER",
                  "OWN",
                  "NONE",
                  "RENT",
                  "MORTGAGE",
                  "ANY"
                ]
              },
              {
                "column-name": "annual_inc",
                "data-type": "float"
              },
              {
                "column-name": "purpose",
                "data-type": "category",
                "possible-values": [
                  "debt_consolidation",
                  "moving",
                  "other",
                  "home_improvement",
                  "renewable_energy",
                  "house",
                  "credit_card",
                  "small_business",
                  "major_purchase",
                  "vacation",
                  "wedding",
                  "medical",
                  "car"
                ]
              },
              {
                "column-name": "addr_state",
                "data-type": "category",
                "possible-values": [
                  "OH",
                  "IN",
                  "KY",
                  "SD",
                  "NM",
                  "FL",
                  "VT",
                  "OK",
                  "NH",
                  "MS",
                  "PA",
                  "NY",
                  "MI",
                  "UT",
                  "AR",
                  "MD",
                  "IL",
                  "NV",
                  "IA",
                  "TX",
                  "RI",
                  "CO",
                  "CA",
                  "SC",
                  "MN",
                  "WA",
                  "WV",
                  "AK",
                  "GA",
                  "ID",
                  "DC",
                  "NC",
                  "HI",
                  "WY",
                  "CT",
                  "WI",
                  "DE",
                  "TN",
                  "MO",
                  "AZ",
                  "AL",
                  "VA",
                  "LA",
                  "MA",
                  "NE",
                  "OR",
                  "MT",
                  "ME",
                  "KS",
                  "NJ"
                ]
              },
              {
                "column-name": "dti",
                "data-type": "float"
              },
              {
                "column-name": "delinq_2yrs",
                "data-type": "float"
              },
              {
                "column-name": "fico_range_low",
                "data-type": "float"
              },
              {
                "column-name": "inq_last_6mths",
                "data-type": "float"
              },
              {
                "column-name": "mths_since_last_delinq",
                "data-type": "float"
              },
              {
                "column-name": "mths_since_last_record",
                "data-type": "float"
              },
              {
                "column-name": "open_acc",
                "data-type": "float"
              },
              {
                "column-name": "pub_rec",
                "data-type": "float"
              },
              {
                "column-name": "revol_bal",
                "data-type": "float"
              },
              {
                "column-name": "revol_util",
                "data-type": "float"
              },
              {
                "column-name": "total_acc",
                "data-type": "float"
              },
              {
                "column-name": "collections_12_mths_ex_med",
                "data-type": "float"
              },
              {
                "column-name": "mths_since_last_major_derog",
                "data-type": "float"
              },
              {
                "column-name": "acc_now_delinq",
                "data-type": "float"
              },
              {
                "column-name": "tot_coll_amt",
                "data-type": "float"
              },
              {
                "column-name": "tot_cur_bal",
                "data-type": "float"
              },
              {
                "column-name": "total_rev_hi_lim",
                "data-type": "float"
              },
              {
                "column-name": "acc_open_past_24mths",
                "data-type": "float"
              },
              {
                "column-name": "avg_cur_bal",
                "data-type": "float"
              },
              {
                "column-name": "bc_open_to_buy",
                "data-type": "float"
              },
              {
                "column-name": "bc_util",
                "data-type": "float"
              },
              {
                "column-name": "chargeoff_within_12_mths",
                "data-type": "float"
              },
              {
                "column-name": "delinq_amnt",
                "data-type": "float"
              },
              {
                "column-name": "mo_sin_old_rev_tl_op",
                "data-type": "float"
              },
              {
                "column-name": "mo_sin_rcnt_rev_tl_op",
                "data-type": "float"
              },
              {
                "column-name": "mo_sin_rcnt_tl",
                "data-type": "float"
              },
              {
                "column-name": "mort_acc",
                "data-type": "float"
              },
              {
                "column-name": "mths_since_recent_bc",
                "data-type": "float"
              },
              {
                "column-name": "mths_since_recent_inq",
                "data-type": "float"
              },
              {
                "column-name": "mths_since_recent_revol_delinq",
                "data-type": "float"
              },
              {
                "column-name": "num_accts_ever_120_pd",
                "data-type": "float"
              },
              {
                "column-name": "num_actv_bc_tl",
                "data-type": "float"
              },
              {
                "column-name": "num_actv_rev_tl",
                "data-type": "float"
              },
              {
                "column-name": "num_bc_sats",
                "data-type": "float"
              },
              {
                "column-name": "num_bc_tl",
                "data-type": "float"
              },
              {
                "column-name": "num_il_tl",
                "data-type": "float"
              },
              {
                "column-name": "num_op_rev_tl",
                "data-type": "float"
              },
              {
                "column-name": "num_rev_accts",
                "data-type": "float"
              },
              {
                "column-name": "num_rev_tl_bal_gt_0",
                "data-type": "float"
              },
              {
                "column-name": "num_sats",
                "data-type": "float"
              },
              {
                "column-name": "num_tl_120dpd_2m",
                "data-type": "float"
              },

INFO:root:API call to http://host.docker.internal:4100/list_projects/onebox succeeded.
Request response:   {
    "status": "SUCCESS",
    "result": {
      "id": "onebox",
      "projects": [
        {
          "id": "bank_churn",
          "name": "bank_churn",
          "models": [
            {
              "name": "Bank Customer Churn Prediction",
              "input-type": "structured",
              "model-task": "binary_classification",
              "inputs": [
                {
                  "column-name": "CreditScore",
                  "data-type": "int"
                },
                {
                  "column-name": "Geography",
                  "data-type": "category",
                  "possible-values": [
                    "France",
                    "Germany",
                    "Spain"
                  ]
                },
                {
                  "column-name": "Gender",
                  "data-type": "category",
                  "possible-values": [
                    "Female",
                    "Male"
                  ]
                },
                {
                  "column-name": "Age",
                  "data-type": "int"
                },
                {
                  "column-name": "Tenure",
                  "data-type": "int"
                },
                {
                  "column-name": "Balance",
                  "data-type": "float"
                },
                {
                  "column-name": "NumOfProducts",
                  "data-type": "int"
                },
                {
                  "column-name": "HasCrCard",
                  "data-type": "category",
                  "possible-values": [
                    "Yes",
                    "No"
                  ]
                },
                {
                  "column-name": "IsActiveMember",
                  "data-type": "category",
                  "possible-values": [
                    "Yes",
                    "No"
                  ]
                },
                {
                  "column-name": "EstimatedSalary",
                  "data-type": "float"
                }
              ],
              "outputs": [
                {
                  "column-name": "probability_ch
Request:
  url: http://host.docker.internal:4100/list_projects/onebox
  method: GET
  headers: {'Authorization': 'Bearer Sxcg0eCz8aJKUXnrAMOB6EQ8FUuS-hgZvqlQXg-0R6c', 'x-fdlr-fwd': 'data_service', 'User-Agent': 'python-requests/2.22.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

## Load dataset

In [ ]:
import pandas as pd
df = pd.read_csv('/app/fiddler_samples/samples/datasets/winequality/train.csv')
df_schema = fdl.DatasetInfo.from_dataframe(df, max_inferred_cardinality=1000)

## Upload dataset

In [ ]:
if 'wine_quality' not in client.list_datasets():
    upload_result = client.upload_dataset(
        dataset={'train': df}, 
        dataset_id='wine_quality')


## Create model schema

In [ ]:
target = 'quality'
train_input = df.drop(columns=['row_id', 'quality'])
train_target = df[target]

feature_columns = list(train_input.columns)

model_info = fdl.ModelInfo.from_dataset_info(
    dataset_info=client.get_dataset_info('wine_quality'),
    target=target, 
    features=feature_columns,
    display_name='debug model',
    description='this is a sklearn model from tutorial that shows how to debug model upload'
)

## Train model

In [ ]:
import sklearn.linear_model
import sklearn.pipeline
import sklearn.preprocessing


regressor = sklearn.linear_model.LinearRegression()

full_model = sklearn.pipeline.Pipeline(steps=[
        ('standard_scaling', sklearn.preprocessing.StandardScaler()),
        ('model_name', regressor),
    ])

full_model.fit(train_input, train_target)
full_model.predict(train_input)

## Save model and schema

In [ ]:
import pathlib
import shutil
import pickle
import yaml

project_id = 'tutorial'
model_id = 'debug_model'

# create temp dir
model_dir = pathlib.Path(model_id)
shutil.rmtree(model_dir, ignore_errors=True)
model_dir.mkdir()

# save model
with open(model_dir / 'model.pkl', 'wb') as pkl_file:
    pickle.dump(full_model, pkl_file)

# save model schema
with open(model_dir / 'model.yaml', 'w') as yaml_file:
    yaml.dump({'model': model_info.to_dict()}, yaml_file)

## Write package.py wrapper

In [ ]:
%%writefile debug_model/package.py

import pickle
from pathlib import Path
import pandas as pd
import logging
from flask import Flask, request

PACKAGE_PATH = Path(__file__).parent

class SklearnModelPackage:
    is_classifier = False
    output_columns = ['predicted_quality']

    def __init__(self):
        with open(PACKAGE_PATH / 'model.pkl', 'rb') as infile:
            self.model = pickle.load(infile)

    def predict(self, input_df):
        # this will log the row request coming in to the server
        logging.info(f'log raw request {request.data}')
        
        # this will log the dataframe after transforming
        logging.info(f'log dataframe {input_df}')
        f = self.model.predict if not self.is_classifier else self.model.predict_proba
        return pd.DataFrame(f(input_df), columns=self.output_columns)
    
def get_model():
    return SklearnModelPackage()

## Show generated files

In [ ]:
!ls -l debug_model

## Test package.py locally before uploading
You may have to restart the kernel for the class to be loaded locally

In [ ]:
#
def my_import(name):
    components = name.split('.')
    mod = __import__(components[0])
    for comp in components[1:]:
        mod = getattr(mod, comp)
    return mod

from importlib import reload

model_class = my_import('debug_model.package')
reload(model_class)

model_class.get_model().predict(train_input[0:5])

## Upload model

In [ ]:
client.delete_model(project_id, model_id)
client.upload_model_package(model_dir, project_id, model_id)

## Run model

In [ ]:
prediction_input = train_input[0: 10]
result = client.run_model(project_id, model_id, prediction_input, log_events=True)
result